@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  height: auto;
  width: 100%;
  height: 100vh;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.todosBox {
  height: auto;
  width: 25%;
}
h2 {
  font-family: "Poppins";
  font-weight: 600;
}
.myInput {
  height: 40px;
  width: 70%;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: "poppins";
  font-size: 1rem;
  outline: none;
}
.myInput::placeholder {
  font-family: "poppins";
  padding: 5px;
}
.myInput:focus {
  border: 2px solid #cccccc;
}
.btn1 {
  height: 40px;
  width: 30%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "poppins";
  transition: 0.6s;
  cursor: pointer;
  background-color: #ccc;
  color: black;
}

.btn1-Dup {
  height: 40px;
  width: 30%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "poppins";
  transition: 0.6s;
  cursor: pointer;
  background-color: black;
  color: #fff;
}
.btn1-Dup:active {
  border: 4px solid #fff;
  transform: scale(0.9);
}

.todoList {
  height: 40px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  background-color: #ece4e4;
  border-radius: 5px;
  padding-inline: 10px;
  cursor: pointer;
}
.todoList > h3 {
  font-family: "poppins";
  padding: 5px;
  font-weight: 600;
  font-weight: normal;
}
.icon {
  cursor: pointer;
  padding: 5px;
}
.icon:hover {
  background-color: #c0b0b0;
  border-radius: 2px;
}
.FilterButtons{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.btn2 {
  height: 40px;
  width: 120px;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  font-family: "poppins";
  transition: 0.6s;
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}
.btn2:active {
  border: 4px solid #000;
  transform: scale(0.9);
}

.btn2-Dup {
  height: 40px;
  width: 120px;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  font-family: "poppins";
  transition: 0.6s;
  cursor: pointer;
  color: #ccc;
  background-color: #000;
}
.btn2-Dup:active {
  border: 4px solid #fff;
  transform: scale(0.9);
}